<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nvkepler.cu">

    <application
        android:icon="@mipmap/cu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignInActivity" />

        <activity android:name=".FragmentsSignInActivity" />

        <activity
            android:name=".IssueSignInActivity"
            android:label="Issue-Return" />

        <activity
            android:name=".BooksSignInActivity"
            android:label="Books" />

        <activity
            android:name=".StudentInfoActivity"
            android:label="Student ID" />
    </application>

</manifest>